@import '../../../scss/_partials/variables';

.a-profit-container {
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;

    .add-profit-img {
        width: 120px;
    }

    .add-profit-content {
        width: 30%;
    }

    .a-profit-btn{
        background-color: $primary-color;
        color: $primary-fg;
        width: 100%;
    }

    ::ng-deep.mat-form-field-wrapper {
        padding: 0px !important;
        margin: 0 !important;
        border-radius: 10px;
    }
}

@media (max-width: 425px) {

    .add-profit-img {
        width: 80px !important;
    }

    .add-profit-content {
        width: 90% !important;
    }
}