<div 
    fxLayout="column" 
    fxLayoutAlign="center center"
    class="a-profit-container">

    <img src="/assets/images/add-profit.svg" width="120">

    <div style="width: 30%;">
        <mat-form-field appearance="outline" style="width: 100%;">
			<mat-label>Enter Profit</mat-label>
			<input matInput type="number" autocomplete="off" placeholder="Enter Profit" required/>
			<!-- <mat-error *ngIf="userForm.controls.userName.hasError('required') && userForm.controls.userName.touched">
				username is required.
			</mat-error> -->
		</mat-form-field>
    </div>

    <div style="width: 30%;">
        <button mat-raised-button class="a-profit-btn">Withdraw</button>
    </div>

</div>