<div 
    fxLayout="row wrap" 
    fxLayoutAlign="start start"
    class="a-req-container">

    <div fxFlex="100" 
        fxLayout="row wrap" 
        style="height: 40px; margin-bottom: 30px;"
        fxLayoutAlign="center center">

        <button mat-raised-button class="a-tbl-btn u-tbl-h-ac" 
            [ngClass]="isPTabSelected ? 'a-tbl-ac-btn': 'a-tbl-ac-btn-d' "
            (click)="onHandle('Profit')">Profit</button>
        <button mat-raised-button class="a-tbl-btn u-tbl-h-ac" 
            [ngClass]="!isPTabSelected ? 'a-tbl-ac-btn': 'a-tbl-ac-btn-d' "
            (click)="onHandle('Withdraw')">Withdraw</button>
    </div>

    <div style="overflow-x:auto; width: 100%;">
        <table>
            <tr>
                <th class="col-0">Sr#</th>
                <th class="col-n">User ID</th>
                <th class="col-n">{{isPTabSelected ? 'Profit' : 'Req Amount'}}</th>
                <th class="col-n">Previous Balance</th>
                <th class="col-n" *ngIf="!isPTabSelected">Status</th>
                <th class="col-last">Date</th>
                <!-- <th class="col-last">Action</th> -->
            </tr>
    
            <tbody>
                <tr *ngIf="data.length === 0">
                    <td colspan="100%" style="text-align: center;">No history found!</td>
                </tr>

                <tr  *ngFor="let d of data; let i=index">
                    <td class="col-0">{{i+1}}</td>
                    <td class="col-n"> {{d.userID}}</td>
                    <td class="col-n"> 
                        <span *ngIf="isPTabSelected">{{d.profit }}</span>
                        <span *ngIf="!isPTabSelected">{{d.amount | currency }}</span>
                    </td>
                    <td class="col-n"> {{d.balance | currency}}</td>
                    <td class="col-n" *ngIf="!isPTabSelected"> {{d.status}}</td>
                    <td class="col-last"> {{d.date | date: 'dd-mm-yyyy'}}</td>
                    <!-- <td class="col-last">
                        <button mat-raised-button class="a-tbl-btn a-tbl-ac-btn">Approve</button>
                        <button mat-raised-button color="warn" class="a-tbl-btn">Reject</button>
                    </td> -->
                </tr>
            </tbody>
        </table>
    </div>

</div>