<div style="overflow-x:auto;">
    <table>
        <tr>
            <th class="col-0">Sr#</th>
            <th class="col-n">User ID</th>
            <th class="col-n">Request Amount</th>
            <th class="col-n">Available Balance</th>
            <th class="col-n">Date</th>
            <th class="col-last">Action</th>
        </tr>

        <tbody>
            <tr  *ngFor="let d of data; let i=index">
                <td class="col-0">{{i+1}}</td>
                <td class="col-n"> {{d.userId}}</td>
                <td class="col-n"> {{d.reqAmount | currency}}</td>
                <td class="col-n"> {{d.balance | currency}}</td>
                <td class="col-n"> {{d.date}}</td>
                <td class="col-last">
                    <button mat-raised-button color="warn" class="a-tbl-btn">Cancel</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>