<div class="toolbar" role="banner" *ngIf="!isUserFooter">
	2021 All rights reserved
</div>

<footer *ngIf="isUserFooter">
	<div class="footer-wrap">
		<div class="footer-nav">
			<a href="/home">
				<img src="/assets/images/logo.svg" alt="logo" />
			</a>
		</div>

		<div class="footer-details">
			<div class="footer-details-location">
				<b class="bold opacity05" style="margin-bottom: 3px;">Central Office</b>
				<p class="opacity05 ft-title" >Box No. 1216138</p>
				<p class="opacity05 ft-title" >12169 Dubai, Emirates</p>
			</div>

			<div class="footer-details-location">
				<b class="bold opacity05" style="margin-bottom: 3px;">Contact Us (Central Office)</b>
				<p class="opacity05 ft-title" >Phone: +9711234567</p>
				<p class="opacity05 ft-title" >Mobile: +9711234567</p>
			</div>

			<!-- <div class="footer-details-contact"></div> -->

			<div class="footer-details-contact">
				<!-- <p class="bold opacity05"></p>
				<p class="bold opacity05"></p>
				<p class="bold opacity05">&copy; All rights reserved 2021</p> -->
			</div>
		</div>
	</div>
</footer>