@import '../../../scss/_partials/variables';

.a-menu {
    height: 100%; 
    padding: 0 100px;

    .a-logout {
        color: $primary-color;
        border-color: $primary-color;
        height: 33px;
        margin-left: 30px;
    }

    .a-logout:hover {
        background-color: #191919 !important;
        color: #fff !important;
    }
}

@media (max-width: 786px) {

    .a-menu {
        padding: 0 20px;

        .head-icn-media {
            font-size: 13px;
        }

        .a-logout {
            font-size: 13px;
        }
    }
}

@media (max-width: 425px) {

    .head-icn-media {
        display: none;
    }

}
