@import '../../../scss/_partials/variables';

.a-card {
    height: 100%;
    background-color: $primary-color;
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 20%), 
                0px 1px 1px 0px rgb(0 0 0 / 14%), 
                0px 1px 3px 0px rgb(0 0 0 / 12%);
}  

.selected-card {
    background-color: $primary-color !important;
    font-weight: 500;
}

.default-card {
    background-color: #eee !important;
    color: #000 !important;
    border: 1px solid  $primary-color;
    font-weight: 500;
}

.package-title-card {
    height: fit-content; 
    padding: 8px 50px !important; 
    margin-bottom: 10px;
}

.package-info-container {
    padding: 0 50px;
}

.instructionc-card {
    color: #fff;
}

ol {
    padding-inline-start: 16px;

    li {
        font-size: 12px;
    }
}

.a-package-btn{
    background-color: #fff;
    color: $primary-color;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid $primary-color;
}

.package-sub-card {
    
    padding: 16px;
    border-radius: 5px;
}

.package-card {
    color: #fff; 
    height: fit-content; 
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 10px 16px;
}

.walletAdress-f 
{
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    background: transparent;
    cursor: copy;
}

.text-copied
{
    color: #fff;
    border: 1px solid $primary-color;
    background-color: $primary-color;
    padding: 6px 12px;
    border-radius: 5px;
    font-weight: 500;
    position: absolute;
    right: 17px;
    top: 8px;
    box-shadow: 0px 0px 5px 1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.package-field {
    width: 100%; 
    font-size: 11px;
    background-color: #fff;
    border-radius: 10px;
}

::ng-deep.mat-form-field-wrapper {
    padding: 0px !important;
    margin: 0 !important;
    border-radius: 10px;
}

@media (max-width: 425px) {

    .package-info-container {
        padding: 0 !important;
    }

    .instructionc-card {
        margin-bottom: 10px !important;
        color: #fff;
    }
}