<div style="height: 100%; padding: 20px 0px;"
    fxLayout="row wrap" 
    fxLayoutAlign="center center">

    <mat-card class="a-card package-title-card" fxFlex.xs="100">
        <h3 style="color: #fff; text-align: center;">Select a Package</h3>
    </mat-card>

    <div fxFlex="100" 
        fxLayout="row wrap" 
        class="package-info-container"
        fxLayoutAlign="space-between center">

        <mat-card fxFlex="49" fxFlex.xs="100" 
            fxLayout="row wrap"
            class="a-card instructionc-card">

            <h2 fxFlex="100">Instructions</h2>
            <ol>
                <li>Select a package</li>
                <li>Copy below wallet address</li>
                <li>Make a transcation with USDT</li>
                <li>Copy generated transcation ID</li>
                <li>Paste or type your transcation ID</li>
                <li>Done</li>
            </ol>

            <div fxFlex="100" class="a-card package-sub-card" style="background-color: #eee; position: relative;">
                <h2 style="text-align: center; color: #000; margin-bottom: 0;">Wallet Address</h2>
                <input class="walletAdress-f" readonly  #walletAddRef name="walletAddressRef" 
                    [(ngModel)]="selectedWalletAddress" (click)="copWalletAddress('#containerid')">
                
                <span *ngIf="copied" class="text-copied"> Copied</span>
            </div>

        </mat-card>

        <div fxFlex="49" fxFlex.xs="100" fxLayout="row wrap">

            <div fxFlex="100" fxLayout="row wrap" 
                fxLayoutAlign="space-between center">
                <mat-card fxFlex="32" fxFlex.xs="48" 
                    class="a-card package-card" 
                    [ngClass]="selectedPackage?.name === p?.name ? 'selected-card' : 'default-card'"
                    *ngFor="let p of packages" (click)="selectedPackage = p; selectedWalletAddress = p.address"> {{p?.name}}</mat-card>
            </div>

            <div fxFlex="100" style="margin-bottom: 10px;" class="a-card package-sub-card">
                <h2 style="text-align: center; color: lightgray; margin-bottom: 0;">Packgae Value</h2>
                <h2 style="text-align: center; color: #fff; margin-bottom: 0;">{{selectedPackage?.price | currency}} 
                    <span *ngIf="selectedPackage?.fee" style="font-size: 12px;">+ {{selectedPackage?.fee | currency}}</span></h2>
            </div>

            <div fxFlex="100" style="margin-bottom: 10px;">
                <mat-form-field appearance="outline" class="package-field">
                    <input matInput type="text" autocomplete="off" required
                        placeholder="Enter your Business transcation ID" 
                        [formControl]="form.controls.tranID" (keypress)="allowAlphaNumeric($event)"/>
                </mat-form-field>

                <mat-error *ngIf="isFormSubmitted && form.controls.tranID.hasError('required')" style="font-size: 10px;">
                    Transcation Id is required
                </mat-error>

                <mat-error *ngIf="isFormSubmitted && form.controls.tranID.hasError('maxlength')" style="font-size: 10px;">
                    max 70 characters allowed
                </mat-error>
            </div>

            <div fxFlex="100" style="margin-bottom: 10px;">
                <button mat-raised-button class="a-package-btn" (click)="updatePackage()">I've Paid</button>
                <button *ngIf="profile?.isActive" mat-raised-button color="warn" (click)="onCancel()" style="width: 100%;">Cancel</button>
            </div>
        </div>

    </div>

</div>