<div style="height: 100%; padding: 20px 0px;"
    fxLayout="row wrap" 
    fxLayoutAlign="center center">

    <mat-card class="a-card profile-title-card" fxFlex.xs="100">
        <h3 style="color: #fff; text-align: center;">Profile Information</h3>
    </mat-card>

    <mat-card fxFlex="100" class="a-card" fxLayoutAlign="center center" fxLayout="column">

        <div class="profile-field-cont">
            <mat-form-field appearance="outline" class="profile-field">
                
                <input matInput type="text" autocomplete="off" 
                    [formControl]="form.controls.country" 
                    placeholder="Location" required [matAutocomplete]="auto"/>
                
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value">
                        {{option.value}}
                    </mat-option>
                </mat-autocomplete>
                      
            </mat-form-field>

            <mat-error *ngIf="isFormSubmitted && form.controls.country.hasError('required')" style="font-size: 10px;">
                location is required
            </mat-error>
        </div>

        <div class="profile-field-cont">
            <mat-form-field appearance="outline" class="profile-field">
                <input matInput type="text" min="0" autocomplete="off" placeholder="xxxxxxxxx" 
                    [formControl]="form.controls.phone" required (keypress)="allowPostiveIntegers($event)"/>
            </mat-form-field>

            <mat-error *ngIf="isFormSubmitted && form.controls.phone.hasError('required')" style="font-size: 10px;">
                contact is required
            </mat-error>

            <mat-error *ngIf="isFormSubmitted && (form.controls.phone.hasError('minlength') || form.controls.phone.hasError('maxlength'))" style="font-size: 10px;">
                phone number should be in-betwen 6 to 15 digits
            </mat-error>
        </div>

        <div class="profile-field-cont">
            <mat-form-field appearance="outline" class="profile-field">
                <input matInput type="text" autocomplete="off" placeholder="Wallet Address" (keypress)="allowAlphaNumeric($event)" 
                    [formControl]="form.controls.wAddress" required minlength="26" maxlength="65"/>
            </mat-form-field>

            <mat-error *ngIf="isFormSubmitted && form.controls.wAddress.hasError('required')" style="font-size: 10px;">
                wallet address is required
            </mat-error>

            <mat-error *ngIf="isFormSubmitted && form.controls.wAddress.hasError('minlength')" style="font-size: 10px;">
                wallet address should be at-least 26 characters
            </mat-error>

            <mat-error *ngIf="isFormSubmitted && form.controls.wAddress.hasError('maxlength')" style="font-size: 10px;">
                max 65 characters allowed
            </mat-error>
        </div>

        <div class="profile-field-cont">
            <button mat-raised-button class="a-profit-btn" (click)="updateProfile()">{{profile?.isActive ? 'Update' : 'Next'}}</button>
            <button *ngIf="profile?.isActive" mat-raised-button color="warn" 
                (click)="onCancel()"
                style="width: 100%;">Cancel</button>
        </div>

    </mat-card>

</div>