<div 
    fxLayout="row wrap" 
    fxLayoutAlign="start stretch"
    class="a-dashboard-container" fxLayoutGap="10px">

    <div fxFlex fxLex.sm="100" fxFlex.xs="100" fxLayout="column" fxLayoutGap="10px" class="media-xs-sm">

        <mat-card class="a-card">
            <mat-card-subtitle class="a-card-font-cl">Total investment</mat-card-subtitle>
            <mat-card-title class="a-card-font-cl">$89,909.90</mat-card-title>
            <mat-card-footer style="margin: 0;" fxLayoutAlign="start center">
                <img src="/assets/images/withdraw.svg" class="a-img">
                <span class="a-card-font-cl" style="margin-right: 20px;">239%</span>
                <img src="/assets/images/profit.svg" class="a-img">
                <span class="a-card-font-cl">$239</span>   

            </mat-card-footer>
        </mat-card>

        <mat-card 
            fxLayout="row wrap"
            fxLayoutAlign="center center"
            class="a-card a-card-media" style="background-color: #fff !important;">

        </mat-card>

    </div>

    <div fxFlex fxLex.sm="100" fxFlex.xs="100" fxLayout="column" fxLayoutGap="10px" class="media-xs-sm">

        <mat-card fxFlex class="a-card">
            <mat-card-subtitle class="a-card-font-cl">Total Users</mat-card-subtitle>
            <mat-card-title class="a-card-font-cl">50,897</mat-card-title>
        </mat-card>

        <mat-card fxFlex class="a-card">
            <mat-card-subtitle class="a-card-font-cl">Pending Requests</mat-card-subtitle>
            <mat-card-title class="a-card-font-cl">50</mat-card-title>
        </mat-card>

        <mat-card fxFlex class="a-card a-card a-card-media">
            <mat-card-subtitle class="a-card-font-cl">Total Profit</mat-card-subtitle>
            <mat-card-title class="a-card-font-cl">50.897%</mat-card-title>
        </mat-card>

    </div>

</div>