<div fxLayout="row wrap" 
    fxLayoutAlign="start stretch" 
    class="a-container">

    <div fxFlex="100" class="a-top-bar">
        <pt-toolbar></pt-toolbar>
    </div>

    <div fxFlex="100" class="a-menu-bar">
        <pt-sub-toolbar [showBalance]="true"></pt-sub-toolbar>
    </div>

    <div fxFlex="100" class="a-content-area">
        <mat-card class="a-card" fxLayout="column" 
            fxLayoutAlign="start stretch" fxLayoutGap="10px"
            [class.bg-img]="!isRoutingEnabled">

            <ng-container *ngIf="isRoutingEnabled; else userProfile">
                <div
                    fxLayout="row wrap" 
                    fxLayoutAlign="center start"
                    class="a-card-menu">

                    <div class="a-card-menu-bar" 
                        fxLayout="row wrap" 
                        fxLayoutAlign="start stretch">

                        <a fxFlex.sm="100" fxFlex.xs="100" class="a-card-menu-title" *ngFor="let m of menu"
                            [routerLink]="m.url" routerLinkActive="a-card-active-menu">{{m.title}}</a>

                    </div>
                </div>

                <div fxFlex="100"  class="a-card-content-area">
                    <router-outlet></router-outlet>
                </div>

            </ng-container>

            <ng-template #userProfile>
                <user-profile *ngIf="editProfile"></user-profile>
                <package *ngIf="editPackage"></package>
                <div *ngIf="waitingForApproval" class="pending-req-approval">
                    REQUEST PENDING FOR APPROVAL!
                </div>
            </ng-template>

        </mat-card>
    </div>

    <div fxFlex="100" class="a-menu-bar heder-footer" style="bottom: 0;">
        <pt-footer></pt-footer>
    </div>

</div>