<div style="overflow-x:auto;">
    <table>
        <tr>
            <th class="col-0">Sr#</th>
            <th class="col-n">User ID</th>
            <th class="col-n">Req Date</th>
            <th class="col-n">Wallet ID</th>
            <th class="col-n">Req Amount</th>
            <th class="col-n">Balance</th>
            <th class="col-last">Action</th>
        </tr>

        <tbody>
            <tr *ngIf="data.length === 0">
                <td colspan="100%" style="text-align: center;">You're all set!</td>
            </tr>

            <tr  *ngFor="let d of data; let i=index">
                <td class="col-0">{{i+1}}</td>
                <td class="col-n"> {{d.uid}}</td>
                <td class="col-n"> {{d.date | date: 'dd-MM-yyyy'}}</td>
                <td class="col-n"> {{d.userWallet}}</td>
                <td class="col-n"> {{d.requestAmount | currency}}</td>
                <td class="col-n"> {{d.currentBalance | currency}}</td>
                <td class="col-last">
                    <button mat-raised-button class="a-tbl-btn a-tbl-ac-btn" (click)="onActiveReject(d)">Approve</button>
                    <!-- <button mat-raised-button color="warn" class="a-tbl-btn" (click)="onActiveReject(d, 'reject')">Reject</button> -->
                </td>
            </tr>
        </tbody>
    </table>
</div>