<div style="height: 100%; width: 100%; overflow-x: hidden;">
	<div class="banner" title="click to hide">
		<p>We are pleased to welcome our new customers onboard</p>
	</div>
	<header>
		<nav>
			<a href="/home" class="brand">
				<img src="/assets/images/logo.svg" alt="logo" />
			</a>
			<ul class="nav-list">
				<li class="nav-list-item">
					<a href="#" class="black nav-links">Home</a>
				</li>
				<li class="nav-list-item">
					<a href="#contact" class="black nav-links">Contact</a>
				</li>
				<li class="nav-list-item">
					<a href="#packages" class="black nav-links">Pricing</a>
				</li>
				<li class="nav-list-item">
					<a href="#team" class="black nav-links">Team</a>
				</li>
			</ul>
			
			<a href="/login" class="login">Login</a>
			
			  <!-- <a href="/logout" class="login">Logout</a> -->
		
			<div class="menu-btn">
				<div class="menu-btn__burger"></div>
			</div>
			<div class="mobile-white-background"></div>
			<div class="mobile-nav-block">
				<!-- <ul class="mobile-nav-list">
			  <% if (user) { %>
				<li class="mobile-nav-list-item">
					<a href="/profile" class="nav-links-mobile"> Dashboard</a>
				</li>
			  <% } else { %>
			  <li class="mobile-nav-list-item">
				<a href="/login" class="nav-links-mobile"
				  >Login</a
				>
			  </li>
			  <% } %>
			  <li class="mobile-nav-list-item">
				<a href="#team" class="nav-links-mobile"
				  >Team</a
				>
			  </li>
			  <li class="mobile-nav-list-item">
				<a href="#packages" class="nav-links-mobile"
				  >Pricing</a
				>
			  </li>
			  <li class="mobile-nav-list-item">
				<a href="#contact" class="nav-links-mobile"
				  >Contact</a
				>
			  </li>
			  <% if (user) { %>
				<li class="mobile-nav-list-item">
					<a href="/logout" class="nav-links-mobile"> logout</a>
				</li>
			  <% } %>
			</ul> -->
			</div>
		</nav>
	</header>
	<main>
		<div class="main-container home-leaf hero-leaf">
			<div class="hero-home">
				<div class="hero-home-text">
					<div class="hero-home-wrap-text">
						<h1>Taking a leap towards the Innovative Future.</h1>
						<h3>
							Our mission is to provide our users with effective ways to
							receive royalty payments from the use of innovative
							technologies.
						</h3>
						<!-- <% if (!user) { %>
				<a
				  href="/signup"
				  class="button dark-button"
				  >Register</a
				>
				<% } else { %>
				  <a
					href="/profile"
					class="button dark-button"
					>DASHBOARD
				  </a>
				  <% } %> -->
						<a href="/about" class="button outline-button">Learn More</a>
					</div>
				</div>
				<div class="hero-home-image">
					<svg width="899" height="934" viewBox="0 0 899 934" fill="none"
						xmlns="http://www.w3.org/2000/svg">
						<g filter="url(#filter0_f)">
							<ellipse cx="466.5" cy="467" rx="266.5" ry="267" fill="#584EAD" />
						</g>
						<defs>
							<filter id="filter0_f" x="0" y="0" width="933" height="934" filterUnits="userSpaceOnUse"
								color-interpolation-filters="sRGB">
								<feFlood flood-opacity="0" result="BackgroundImageFix" />
								<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
								<feGaussianBlur stdDeviation="100" result="effect1_foregroundBlur" />
							</filter>
						</defs>
					</svg>
					<img id="hero-img" src="/assets/images/home-intro-obj.png" alt="image-hero-phone" />
				</div>
			</div>

			<div class="view-design view-design-home">
				<div class="view-design-left">
					<div class="design big-design large-web-design">
						<div class="design-wrap-text left">
							<img src="/assets/images/member-icon.png" alt="member-icon" />
							<h2 class="count">56233</h2>
							<h4>Total Members</h4>
							<h5>
								We have more than 50k+ happy users who know how we are shaping there futures.
							</h5>
						</div>
					</div>
				</div>
				<div class="view-design-right">
					<div class="design app-design">
						<div class="design-wrap-text right">
							<img src="/assets/images/deposit-icon.png" alt="member-icon" />
							<h2 class="count">100823</h2>
							<h4>Total Deposited</h4>
							<h5>
								More than $100k have been deposited in less than a year.
							</h5>
						</div>
					</div>
					<div class="design graphic-design">
						<div class="design-wrap-text right">
							<img src="/assets/images/profit-icon.png" alt="member-icon" />
							<h2 class="count">150300</h2>
							<h4>Total Profits</h4>
							<h5>
								We have successfully generated more than $150k in profits!
							</h5>
						</div>
					</div>
				</div>
			</div>

			<section id="team">
				<div class="home-features">
					<div class="home-feature one">
						<img class="home-feature-img" src="/assets/images/Khaleel al Mahfouz.png"
							alt="illustration-passionate" />
						<div class="home-feature-text">
							<h3 class="black">Khaleel al Mahfouz</h3>
							<p class="black">
								As Owner and Managing Director of Perfect Trading, Khaleel has been the driving
								force and innating ability to deeply analyse problems and risks to ensure success
								and standing of the business.
							</p>
						</div>
					</div>
					<div class="home-feature two">
						<img class="home-feature-img" src="/assets/images/Muneef el Beydoun.png"
							alt="illustration-resourceful" />
						<div class="home-feature-text">
							<h3 class="black">Muneef el Beydoun</h3>
							<p class="black">
								Running all our Projects as the Head of Project Services, Muneef’s innate ability to
								deeply analyse problems and risks,
								then apply sound and trusted controls and plans to ensure a successful rollout is
								second to none.
							</p>
						</div>
					</div>
					<div class="home-feature three">
						<img class="home-feature-img" src="/assets/images/Muntasir el Bacchus.png"
							alt="illustration-friendly" />
						<div class="home-feature-text">
							<h3 class="black">Muntasir el Bacchus</h3>
							<p class="black">
								Heading up all of Perfect Trading Consulting’s Client Services, Muntasir’s 23 years
								in the industry has culminated in the creation,
								development and flawless execution of our internal processes.
							</p>
						</div>
					</div>
				</div>
			</section>

			<section id="packages">
				<div class="grid-container">
					<div class="row">
						<div class="col">
							<div class="designs" onclick="location.href='/login'">
								<div class="design-text">
									<h2>Bronze</h2>
									<div class="design-text-left">
										<h4>Eligibility for Bonuses</h4>
										<h5>Unlimited</h5>
									</div>
									<div class="design-text-right">
										<h4>License Value</h4>
										<h3>$100<span id="charges-span">+ $5</span></h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="designs" onclick="location.href='/login'">
								<div class="design-text">
									<h2>Bronze Plus</h2>
									<div class="design-text-left">
										<h4>Eligibility for Bonuses</h4>
										<h5>Unlimited</h5>
									</div>
									<div class="design-text-right">
										<h4>License Value</h4>
										<h3>$300<span id="charges-span">+ $10</span></h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="designs" onclick="location.href='/login'">
								<div class="design-text">
									<h2>Silver</h2>
									<div class="design-text-left">
										<h4>Eligibility for Bonuses</h4>
										<h5>Unlimited</h5>
									</div>
									<div class="design-text-right">
										<h4>License Value</h4>
										<h3>$500<span id="charges-span">+ $20</span></h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="designs fourth" onclick="location.href='/login'">
								<div class="design-text">
									<h2>Silver Plus</h2>
									<div class="design-text-left">
										<h4>Eligibility for Bonuses</h4>
										<h5>Unlimited</h5>
									</div>
									<div class="design-text-right">
										<h4>License Value</h4>
										<h3>$1k<span id="charges-span">+ $30</span></h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="designs fifth" onclick="location.href='/login'">
								<div class="design-text">
									<h2>Gold</h2>
									<div class="design-text-left">
										<h4>Eligibility for Bonuses</h4>
										<h5>Unlimited</h5>
									</div>
									<div class="design-text-right">
										<h4>License Value</h4>
										<h3>$5k<span id="charges-span">+ $50</span></h3>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col">
							<div class="designs sixth" onclick="location.href='/login'">
								<div class="design-text">
									<h2>Gold Plus</h2>
									<div class="design-text-left">
										<h4>Eligibility for Bonuses</h4>
										<h5>Unlimited</h5>
									</div>
									<div class="design-text-right">
										<h4>License Value</h4>
										<h3>$5k<span id="charges-span">+ $70</span></h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="contact"></section>
			<div class="talk-about" style="margin-top: 320px;">
				<div class="talk-about-text">
					<h1 class="little-h1">Let’s talk about crypto investment</h1>
					<p>
						Has something to share? Contact us today and find out
						how our expertise can help you.
					</p>
				</div>
				<a href="/contact" class="button light-button">GET IN TOUCH</a>
				<span class="circle talk-about-circle-one"></span>
				<span class="circle talk-about-circle-two"></span>
				<span class="circle talk-about-circle-three"></span>
				<span class="circle talk-about-circle-four"></span>
				<span class="circle talk-about-circle-five"></span>
			</div>
		</div>
	</main>
	<footer>
		<div class="footer-wrap">
			<div class="footer-nav">
				<a href="/home">
					<img src="/assets/images/logo.svg" alt="logo" />
				</a>
				<ul class="footer-nav-list">
					<li class="footer-nav-list-item">
						<a href="/about" class="nav-links white">OUR COMPANY</a>
					</li>
					<li class="footer-nav-list-item">
						<a href="/contact" class="nav-links white">CONTACT</a>
					</li>
				</ul>
			</div>
			<div class="footer-details">
				<div class="footer-details-location">
					<p class="bold opacity05">Central Office</p>
					<p class="opacity05">Box No. 1216138</p>
					<p class="opacity05">12169 Dubai, Emirates</p>
				</div>
				<div class="footer-details-contact">
					<p class="bold opacity05"></p>
					<p class="bold opacity05"></p>
					<p class="bold opacity05">&copy; All rights reserved 2021</p>
				</div>
				<!-- <div class="footer-details-social">
					<a href="https://www.facebook.com/perfecttrading100/"
						class="social-icon social-icon-facebook"></a>
					<a href="https://twitter.com/PerfectTrading8?s=09" class="social-icon social-icon-twitter"></a>
					<a href="https://instagram.com/perfecttradingofficial?utm_medium=copy_link"
						class="social-icon social-icon-insta"></a>
				</div> -->
			</div>
		</div>
	</footer>

	<!-- <script src="/assets/js/app.js"></script>
    <script type="text/javascript" src="/assets/js/animations.js"></script> -->

</div>