<div fxLayout="row wrap" 
    fxLayoutAlign="start stretch" 
    class="a-container">

    <div fxFlex="100" class="a-top-bar">
        <pt-toolbar></pt-toolbar>
    </div>

    <div fxFlex="100" class="a-menu-bar">
        <pt-sub-toolbar></pt-sub-toolbar>
    </div>

    <div fxFlex="100" class="a-content-area">
        <mat-card class="a-card" 
            fxLayout="column" 
            fxLayoutAlign="start stretch" fxLayoutGap="10px">

            <div fxFlex="100" 
                fxLayout="row wrap" 
                fxLayoutAlign="center start"
                class="a-card-menu">

                <div class="a-card-menu-bar" 
                    fxLayout="row wrap" 
                    fxLayoutAlign="start stretch">

                    <!-- <div fxFlex="100" class="menu-wrapper">
                        <header class="header">
                         <a href="#home" class="logo">Codeconvey</a>
                         <input class="menu-btn" type="checkbox" id="menu-btn" />
                         <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                         <ul class="menu">
                           <li><a href="#about">About</a></li>
                           <li><a href="#contact">Contact</a></li>
                           <li><a href="#careers">Careers</a></li>
                           <li><a href="#contact">Blog</a></li>
                           <li><a href="#contact">News</a></li>
                         </ul>
                       </header>
                    </div> -->

                    <a fxFlex.sm="100" fxFlex.xs="100" class="a-card-menu-title" *ngFor="let m of menu"
                        [routerLink]="m.url" routerLinkActive="a-card-active-menu">{{m.title}}</a>

                </div>
            </div>

            <div fxFlex="100"  class="a-card-content-area">
                <router-outlet></router-outlet>
            </div>

        </mat-card>
    </div>

    <div fxFlex="100" class="a-menu-bar">
        <pt-footer></pt-footer>
    </div>

</div>